#about {
    margin-top: 32px;
    padding: 40px 20px;

    p {
        font-size: 19px;
    }

    h3 {
        font-size: 26px;
        font-weight: $fwRegular;
        text-align: center;
        margin-top: 30px;
    }

    button {
        padding: 12px 40px;
        margin: 40px auto 0;
        display: block;
        border-radius: 6px;
        background-color: $primaryColor;
        color: white;
        font-size: 20px;
        font-weight: $fwRegular;
    }
}