@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    padding-bottom: 80px;
    background-color: #10091D;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%2310091D' cx='50' cy='0' r='50'/%3E%3Cg fill='%23140e24' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%2316122b' cx='50' cy='100' r='50'/%3E%3Cg fill='%23191432' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%231d1739' cx='50' cy='200' r='50'/%3E%3Cg fill='%23201940' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23241b48' cx='50' cy='300' r='50'/%3E%3Cg fill='%23281e4f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%232c2057' cx='50' cy='400' r='50'/%3E%3Cg fill='%2330235f' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23342566' cx='50' cy='500' r='50'/%3E%3Cg fill='%2339276e' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%233d2a76' cx='50' cy='600' r='50'/%3E%3Cg fill='%23422c7e' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23472e86' cx='50' cy='700' r='50'/%3E%3Cg fill='%234c308e' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23513296' cx='50' cy='800' r='50'/%3E%3Cg fill='%2357349e' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%235c36a7' cx='50' cy='900' r='50'/%3E%3Cg fill='%236238af' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23683AB7' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;

    @media screen and (min-width: $largeScreenBreakPoint) {
        padding-bottom: 0;
    }
}

.section-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;

    h2 {
        font-size: 28px;
        font-weight: $fwBold;
        padding: 0 8px;
        position: relative;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            bottom: 0px;
            left: 0;
            width: 100%;
            height: 12px;
            background-color: #c7c9f2;
            opacity: 0.8;
            border-radius: 3px;
            transform: skewX(20deg) rotate(1deg);
        }
    }
}

p {
    font-size: 15px;
    line-height: 1.5;
    color: $textColor;
}

.primary-btn {
    padding: 16px 40px;
    margin: 40px auto 0;
    display: block;
    min-width: 120px;
    border-radius: 5px;
    background-color: $primaryColor;
    color: white;
    font-size: 18px;
    font-weight: $fwRegular;
    cursor: pointer;

    &.full-width {
        width: 100%;
    }
}

.container {
    max-width: $wrapperContainerMaxWidth;
    margin: 0 auto;
    background-color: #f8f8f8;
    position: relative;
    overflow: hidden;
}