.bottom-nav-bar {
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: stretch;
    background-color: $primaryColor;
    background-color: #fff;
    box-shadow: 0 -3px 12px rgba(black, 0.12);

    .nav-item {
        padding: 8px;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 4px;
        position: relative;
        cursor: pointer;

        &:not(:last-of-type)::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            background-color: #f2f2f2;
            width: 1px;
            height: 40%;
            transform: translateY(-50%);
        }

        &.menu .icon {
            background-color: #3C40C6;
        }

        &.booking .icon {
            background-color: $primaryColor;
        }

        &.whatsapp .icon {
            background-color: #56ce62;
        }

        &.waze .icon {
            background-color: #33ccff;
            // background-image: linear-gradient(to right, #33ccff 0%, #3C40C6 100%);
        }
    }

    .icon {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 28px;
        }
    }

    span {
        font-size: 14px;
    }
}

@media screen and (min-width: 1000px) {
    .bottom-nav-bar {
        flex-direction: column;
        left: auto;
        bottom: 40px;
        right: 24px;
        width: auto;
        background-color: transparent;
        background-color: rgba(white, 0.2);
        border-radius: 12px;
        padding: 12px 0;
        gap: 12px;
        backdrop-filter: blur(5px);

        .nav-item {
            &::after {
                display: none;
            }

            span {
                color: white;
            }
        }
    }
}