#gallery {
    padding: 40px 20px;

    .gallery-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;


    }

    .gallery-item {
        height: 160px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 8px;

        img {
            width: 100%;
        }
    }
}

@media screen and (min-width: $largeScreenBreakPoint) {
    #gallery {
        max-width: $containerMaxWidth;
        margin: 0 auto;

        .gallery-grid {
            grid-template-columns: repeat(3, 1fr);
        }

        .gallery-item {
            height: 240px;
        }

    }
}