#gallery {
    padding: 40px 20px;

    .gallery-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;

        .gallery-item {
            height: 160px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 8px;
        }

        img {
            width: 100%;
        }
    }
}