$primaryColor: #683ab7;
$textColor: #2d2d2d;

// Font weights
$fwLight: 300;
$fwRegular: 400;
$fwBold: 700;

$largeScreenBreakPoint: 600px;
$wrapperContainerMaxWidth: 1000px;
$contentContainerMaxWidth: 650px;