@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #0b0320;
}

.section-heading {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
.section-heading h2 {
  font-size: 28px;
  font-weight: 700;
  padding: 0 8px;
  position: relative;
  z-index: 1;
}
.section-heading h2::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 12px;
  background-color: #c7c9f2;
  opacity: 0.8;
  border-radius: 3px;
  transform: skewX(20deg) rotate(1deg);
}

p {
  font-size: 15px;
  line-height: 1.5;
  color: #2d2d2d;
}

.primary-btn {
  padding: 16px 40px;
  margin: 40px auto 0;
  display: block;
  min-width: 120px;
  border-radius: 5px;
  background-color: #683ab7;
  color: white;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}
.primary-btn.full-width {
  width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #f8f8f8;
  position: relative;
}

.profile-header {
  padding: 8px 16px;
  background-color: #fff;
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.12);
  display: flex;
}
.profile-header .lang-switcher {
  position: relative;
}
.profile-header .lang-switcher .current {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #f8f8f8;
  cursor: pointer;
}
.profile-header .lang-switcher .current img {
  width: 20px;
}
.profile-header .lang-switcher .current span {
  font-size: 16px;
  font-weight: 400;
}
.profile-header .lang-switcher .options {
  position: absolute;
  z-index: 9;
  top: 100%;
  left: 0;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.12);
  display: none;
}
.profile-header .lang-switcher .options ul {
  padding: 8px 0;
  list-style-type: none;
}
.profile-header .lang-switcher .options li {
  padding: 8px 24px;
  cursor: pointer;
}
.profile-header .lang-switcher .options li:hover {
  background-color: #c7c9f2;
}

#hero {
  position: relative;
  padding: 0 18px;
  padding-top: 200px;
  text-align: center;
}
#hero .cover {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: url("../assets/img/cover.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 280px;
}
#hero .logo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 12px;
  position: relative;
  z-index: 2;
}
#hero .logo img {
  max-width: 75%;
  max-height: 75%;
  border-radius: 50%;
}
#hero h1 {
  font-size: 32px;
  margin-bottom: 8px;
  font-weight: 700;
}
#hero h4 {
  font-size: 24px;
  font-weight: 400;
}
#hero .links {
  margin-top: 28px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 24px;
  column-gap: 8px;
}
#hero .links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
#hero .links .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 18px;
  background-color: rgba(104, 58, 183, 0.04);
}
#hero .links .icon img {
  width: 24px;
}
#hero .links span {
  color: black;
  font-size: 16px;
  font-weight: 400;
}

@media screen and (min-width: 600px) {
  #hero {
    padding-top: 230px;
  }
  #hero .cover {
    height: 320px;
  }
  #hero .logo {
    width: 200px;
    height: 200px;
  }
  #hero .links {
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    grid-template-columns: none;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    row-gap: 32px;
    column-gap: 32px;
  }
  #hero .links .icon {
    width: 58px;
    height: 58px;
  }
}
#about {
  margin-top: 32px;
  padding: 40px 20px;
}
#about p {
  font-size: 19px;
}
#about h3 {
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
}

#gallery {
  padding: 40px 20px;
}
#gallery .gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
#gallery .gallery-item {
  height: 160px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 8px;
}
#gallery .gallery-item img {
  width: 100%;
}

@media screen and (min-width: 600px) {
  #gallery {
    max-width: 1000px;
    margin: 0 auto;
  }
  #gallery .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  #gallery .gallery-item {
    height: 240px;
  }
}
#testimonials {
  padding: 40px 20px;
}
#testimonials .card {
  background-color: #fff;
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 24px 20px;
}
#testimonials .card .customer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin-top: 24px;
}
#testimonials .card img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#testimonials .card h3 {
  font-size: 18px;
  font-weight: 400;
}

@media screen and (min-width: 600px) {
  #testimonials {
    max-width: 600px;
    margin: 0 auto;
  }
}
#contact {
  padding: 60px 20px 40px;
  max-width: 100vw;
}
#contact > p {
  text-align: center;
}
#contact .contact-form-wrapper {
  position: relative;
  padding: 32px 0 20px;
}
#contact form {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(5px);
  padding: 24px 16px;
  border-radius: 12px;
}
#contact .form-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
  margin-bottom: 16px;
}
#contact .form-field label {
  font-size: 15px;
  font-weight: 400;
}
#contact .form-field input {
  height: 44px;
  border-radius: 4px;
  padding: 4px 12px;
  font-size: 16px;
  border: 1px solid #ddd;
}
#contact .form-field input:focus {
  outline: 2px solid #683ab7;
}
#contact .form-field textarea {
  border-radius: 4px;
  padding: 8px 12px;
  resize: vertical;
  min-height: 120px;
  font-size: 16px;
  border: 1px solid #ddd;
}
#contact .form-field textarea:focus {
  outline: 2px solid #683ab7;
}
#contact .primary-btn {
  margin-top: 24px;
}

@media screen and (min-width: 600px) {
  #contact {
    max-width: 600px;
    margin: 0 auto;
  }
  #contact form {
    box-shadow: none;
    background-color: transparent;
  }
}

/*# sourceMappingURL=index.css.map */
